@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Brush+Script&family=Song+Myung&display=swap');
		.ng-font2{
			font-family: 'Gowun Dodum', sans-serif;
		}
		.zentai{
			margin-top:20px;
		}
		.zentai_box{
			width:700px;
			height:100%;
			margin:auto;
			
		}
		.search-background{
			margin:auto;
			width:700px;
			height:50px;
		}
		.search-boxt{
			margin:auto;
		}
		td{
			cursor:pointer;
		}
		.container{
			background-color:white;
		}
		body{
			background-color:#eceff1;
		}
		.block{
			height:50px;
		}	